{%extends 'base.html'%}
{% block title%}RegisterDat{%endblock%}
{% block content%}
<div>
    <div class="card-container">
        <div class="card" style="width: 11rem;">
            <img class="card-img-top" src="https://www.basketball-reference.com/req/202101181/images/players/{{player.plid}}.jpg" alt="">
        </div>
        <div >
                <h3 class="name display-4 text-center">{{player.player}}</h3>
        </div>
        <div>
                <h3 class="sal"> <b> Salary:</b> ${{player.sal}} <br> <b>Fantasy Points:</b> {{player.flp}}</h3>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-sortable table-hover">
           <thead>
                <tr class="bg-primary text-light">
                    <th>Team</th>
                    <th>GS</th>
                    <th>MP</th>
                    <th>FG</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3P</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <th>2P</th>
                    <th>2PA</th>
                    <th>2P%</th>
                    <th>FT</th>
                    <th>FTA</th>
                    <th>FT%</th>
                    <th>ORB</th>
                    <th>DRB</th>
                    <th>TRB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>PF</th>
                    <th>PTS</th>
                    <th>Sal/FP</th>
                </tr>
           </thead>
           <tbody>
               <tr> 
                    <td>{{player.team}}</td>
                    <td>{{player.gs}}</td>
                    <td>{{player.mp}}</td>
                    <td>{{player.fg}}</td>
                    <td>{{player.fga}}</td>
                    <td>{{player.fgp}}</td>
                    <td>{{player.threep}}</td>
                    <td>{{player.threepa}}</td>
                    <td>{{player.threepper}}</td>
                    <td>{{player.two}}</td>
                    <td>{{player.twoa}}</td>
                    <td>{{player.twoper}}</td>
                    <td>{{player.ft}}</td>
                    <td>{{player.fta}}</td>
                    <td>{{player.ftper}}</td>
                    <td>{{player.orb}}</td>
                    <td>{{player.drb}}</td>
                    <td>{{player.trb}}</td>
                    <td>{{player.ast}}</td>
                    <td>{{player.stl}}</td>
                    <td>{{player.blk}}</td>
                    <td>{{player.tov}}</td>
                    <td>{{player.pf}}</td>
                    <td>{{player.pts}}</td>
                    <td>${{player.cost}}</td>            
               </tr>
           </tbody>
        </table>
    </div>
</div>
{%endblock%}